.error-page-404 {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 96px;
    color: #fff;
    margin-top: 150px;
  }

  h2 {
    font-size: 36px;
    margin-top: 70px;

    span {
      display: block;
      color: #fff;
      margin-top: 50px;
      font-size: 48px;
      transform: rotate(90deg);
    }
  }

  .button__link {
    margin-top: 60px;
  }

  &__lines {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: url('../images/lines.png') repeat-x bottom;
  }
}
