.title {
  &_left {
    text-align: left;
    margin-right: auto;
  }

  &_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &_right {
    text-align: right;
    margin-left: auto;
  }

  h2& {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
  }

  h3& {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: $secondary-color;
  }
}
