.lead-table * {
  box-sizing: border-box;
}

.lead-table__row {
  display: flex;
  flex-direction: row;
  border: 1px #8db7b5 solid;
  align-items: center;
  margin-bottom: 5px;
  height: 45px;
}



.lead-table__row_rounded {
  border-radius: 12px;
}


.lead-table__cell {
  width: 200px;
  padding: 7.5px 0 7.5px 15px;
}

.lead-table__cell_border {
  border-right: #8db7b5 solid 1px;
}




.lead-table__row_header {
  background-color: #e2e2e2;
  font-weight: 700;
}
