$dark_primary-bg: #8e32c7;
$dark_default-bg: #3f2302;
$dark_page-container-bg: #000;
$dark_page-header-bg: #641a1a;
$dark_page-body-bg-dark: #000000;
$dark_page-body-bg-light: #0a0252;
$dark_error-page-accent-color: #000;
$dark_text-color: #004643;
$dark_text-color-contrast: #ffffff;
$dark_primary-color: tomato;
$dark_secondary-color: yellow;
$dark_secondary-bg: #2f2f2f;
$dark_main-page-header-bg: #001112;
$dark_forum-thread-item-bg-color: #121212;
$dark_error-text-color: #e70000;
$dark_disabled-bg: #949494;
$dark_input-label-color: #c9c9c9;
$dark_input-label-color-dark: #00aca5;
$dark_input-text-color: #c9c9c9;
$dark_input-border-color: #02585e;
$dark_info-btn-border-color: #2f2f2f;

