$light_primary-bg: #6bc732;
$light_default-bg: #ff8a00;
$light_page-container-bg: #fff;
$light_page-header-bg: #009a9d;
$light_page-body-bg-dark: #004643;
$light_page-body-bg-light: #01ad79;
$light_error-page-accent-color: #fff501;
$light_text-color: #004643;
$light_text-color-contrast: #ffffff;
$light_primary-color: #6bc732;
$light_secondary-color: #004643;
$light_secondary-bg: #ffffff;
$light_main-page-header-bg: #009a9d;
$light_forum-thread-item-bg-color: #f5f5f5;
$light_error-text-color: #ff2f2f;
$light_disabled-bg: #dedede;
$light_input-label-color: #999999;
$light_input-label-color-dark: #004643;
$light_input-text-color: #999999;
$light_input-border-color: #0198a4;
$light_info-btn-border-color: #ffffff;