.game-container {
  position: relative;

  &_fullscreen {
    background: var(--page-body-bg-dark);
  }

  &__game {
    box-shadow: 0 0 20px 10px tomato;
    border-radius: 10px;
    &_fullscreen {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.game-page {
  margin-top: 80px;
  /* background: var(--main-page-header-bg); */
  /* border: 5px solid var(--main-page-header-bg); */
}
