.page-layout {
  background: linear-gradient(
    180deg,
    var(--page-body-bg-dark) 0%,
    var(--page-body-bg-light) 100%
  );
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
