version: "3.9"

services:
  postgres:
    container_name: pg
    image: postgres:12
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
    ports:
      - "5432:5432"
    networks:
      - innerNetwork
    env_file:
      - .env.prod

  webapp:
    container_name: webapp
    image: game/webapp
    build:
      context: .
    env_file:
      - .env.prod
    command: ./utils/wait-for.sh postgres:5432 -- npm run start:prod
    environment:
      POSTGRES_HOST: 'postgres'
    networks:
      - innerNetwork
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    env_file:
      - .env.prod
    environment:
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "8080:80"
    networks:
      - innerNetwork
    depends_on:
      - postgres
  nginx:
    container_name: nginx
    image: nginx/nginx-custom
    build:
      context: ./nginx
    volumes:
      - ./certs/cert.crt:/etc/ssl/cert.crt
      - ./certs/cert.key:/etc/ssl/key.key
    networks:
      - innerNetwork
    env_file:
      - .env.prod
    ports:
      - ${PORT:-443}:${PORT:-443}

networks:
  innerNetwork:
    driver: bridge

volumes:
  pgdata: null
