version: "3.9"

services:
  postgre:
    container_name: postgre
    image: postgres: 12
  game:
    container_name: game
    image: praktikum/game
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run start
    ports:
      - ${PORT:-3000}:${PORT:-3000}
    restart: on-failure
