.password-edit-page {
  &__form {
    margin-top: 20px;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 162px;
    margin: 20px 10px;
  }

  .password-edit {
    position: relative;

    &__icon {
      position: absolute;
      right: 0;
      bottom: 28px;

      &:hover {
        transform: translateY(1px);
      }
    }
  }
}
