.button {
  color: $text-color;
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 280px;
  transition: transform 0.1s linear;

  &_primary {
    background-color: $primary-background;
    color: #fff;
  }

  &_default {
    background-color: $default-background;
  }

  &_secondary {
    border: 1px solid $primary-color;
    background: $secondary-background;
    color: $primary-color;
    display: flex;
    justify-content: center;
  }

  &_info {
    border: 1px solid $info-btn-border-color;
    background: transparent;
    color: $info-btn-border-color;
    border-radius: 8px;
    padding: 10px 20px;
    width: auto;
  }

  &_error {
    background: transparent;
    border: 1px solid $error-page-accent-color;
    color: $error-page-accent-color;
  }

  &:disabled {
    background-color: $disabled-background;
    transform: none !important;
    translate: none !important;
    cursor: default !important;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(3px);
  }

  &__link {
    text-decoration: none;
  }
}
