.button {
  color: $text-color;
  border-radius: 30px;
  padding: 10px;
  border: none;
  width: 250px;
  transition: transform 0.1s linear;
}

.button_primary {
  background-color: $primary-background;
}

.button_default {
  background-color: $default-background;
}

.button_secondary {
  background-color: $secondary-background;
}

.button:disabled {
  background-color: $disabled-background;
  transform: none !important;
  translate: none !important;
  cursor: default !important;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
