.button {
  color: var(--text-color);
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 280px;
  transition: transform 0.1s linear;

  &_primary {
    background-color: var(--primary-bg);
    color: #fff;
  }

  &_default {
    background-color: var(--default-bg);
  }

  &_secondary {
    border: 1px solid var(--primary-color);
    background: var(--secondary-bg);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
  }

  &_info {
    border: 1px solid var(--info-btn-border-color);
    background: transparent;
    color: var(--info-btn-border-color);
    border-radius: 8px;
    padding: 10px 20px;
    width: auto;
  }

  &_error {
    background: transparent;
    border: 1px solid var(--error-page-accent-color);
    color: var(--error-page-accent-color);
  }

  &:disabled {
    background-color: var(--disabled-bg);
    transform: none !important;
    translate: none !important;
    cursor: default !important;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(3px);
  }

  &__link {
    text-decoration: none;
  }
}
