@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  line-height: 16px;
}

a {
  color: $primary-color;
}

.error-text {
  color: $error-text-color;
}
