.title {
  &_left {
    text-align: left;
    margin-right: auto;
  }

  &_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &_right {
    text-align: right;
    margin-left: auto;
  }
}
