.profile-page {
  &__page-container {
    padding-top: 90px;
  }

  &__form {
    margin-top: 20px;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 162px;
    margin: 20px 10px;
  }

  .header {
    .logout-button {
      &__button {
        display: flex;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
      }

      &__icon {
        margin-left: 10px;
      }
    }
  }
}
