.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  border: black 1px solid;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: beige;
  box-shadow: 0 0 10px 4px gray;
  border-radius: 5px;
  text-align: center;

  &__buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 10px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
  }
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: gray;
  opacity: 70%;
}
