.page-container {
  margin-left: auto;
  margin-right: auto;

  &_s {
    max-width: 350px;
    width: 350px;
  }

  &_m {
    max-width: 700;
    width: 700px;
  }

  &_l {
    max-width: 1100px;
    width: 1100px;
  }
}
